* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba(3,0,31);
    color: white;
    font-family: 'Poppins';
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    flex: 3;
    border-right: 2px solid rgb(100, 100, 100);

}

.logo {
    margin-right: 1rem;
    height: 5.50rem;
}

.brand {
    font-size: 2.50rem;
}

.uppsersideTop {
    padding: 2rem;
    display: flex;
    align-items: center;
}


.midbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:rgb(100, 100, 100);
    border-radius: 1rem;
    gap: 1rem;
    width: 80%;
    padding: 0.67rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-style: none;    
}
.addBtn {
    height: 4rem;

}

.main {
    flex: 9;
}
.upperSideBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.msgbtn {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    background-color:rgb(100, 100, 100);
    border-radius: 1rem;
    gap: 1rem;
    width: 80%;
    padding: 0.67rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-style: none;
}

.divider{
    width: 100%; /* Full width of the container */
    height: 0.30rem; /* Thickness of the line */
    background-color:rgba(100, 100, 100); /* Line color (light gray) */
    margin: 10rem 0; /* Space around the divider */
    border: none; /* No border */
}

.lowerSide {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    margin-left: 5rem;
    margin-top: 17rem;

}

.listItems{
    height: 3rem;
    width: fit-content;
   
}

.Items{
    height:5rem;
    width: 40%;
    background-color:rgb(100, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

